<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku = ".NETFramework,Version=v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <connectionStrings>
    <!--<add name="HfutIEFramework_Oracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=127.0.0.1)(PORT=1521))(CONNECT_DATA=(SERVER = DEDICATED)(SERVICE_NAME=ORCL1)));User ID=C##MES0827;Password=sa123;" providerName="System.Data.OracleClient" />-->
    <!--<add name="HfutIEFramework_Oracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.4.5.51)(PORT=1521))(CONNECT_DATA=(SERVER = DEDICATED)(SERVICE_NAME=ORCL)));User ID=JACMES;Password=hfutIE2019;" providerName="System.Data.OracleClient" />-->
    <!--<add name="HfutIEFramework_MySql" connectionString="Server=.;Initial Catalog=JAC_3.5G;User ID=sa;Password=sa123" providerName="System.Data.SqlClient"/>-->
    <!--<add name="HfutIEFramework_Oracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.4.5.102)(PORT=1521))(CONNECT_DATA=(SERVER = DEDICATED)(SERVICE_NAME=ORCL)));User ID=JACMES_TEST;Password=sa123;" providerName="System.Data.OracleClient" />-->
    <!--<add name="HfutIEFramework_Oracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.4.5.30)(PORT=1521))(CONNECT_DATA=(SERVER = DEDICATED)(SERVICE_NAME=apgh1234)));User ID=JACMES;Password=hfutIE2019;" providerName="System.Data.OracleClient" />-->

    <!--<add name="HfutIEFramework_SQLite" connectionString="data source=E:\#2#台式机文件\E盘\#1#纳威司达项目\1#项目程序\安全件采集\KEY_PART_INFOR\bin\Debug\MyDatabase.db;version=3;" providerName="System.Data.SQLite" />-->
    <add name="HfutIEFramework_SqlServer" connectionString="Server=127.0.0.1;Initial Catalog=JAC_QPT_HCL;User ID=sa;Password=sa123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- 程序名称-->
    <add key="ProgramName" value="JAC_MES_PASS_INFOR-1"/>
    <!-- 默认数据库软件类型：Oracle,SqlServer,MySql,Access,SQLite-->
    <!--<add key="ComponentDbType" value="Oracle" />-->
    <add key="ComponentDbType" value="SqlServer" />
    <!-- 连接字符串是否加密-->
    <add key="ConStringDESEncrypt" value="false" />
    <!-- 数据库超时间-->
    <add key="CommandTimeout" value="180" />
    <!-- 数据库服务器IP-->
    <add key="ServerIP" value="127.0.0.1" />
    <!--<add key="ServerIP" value="10.4.5.51" />-->
    <!-- 2.7线体PLC服务器IP--><!--
    <add key="2.7KepServerIP" value="10.4.5.154" />
    --><!-- 4.0线体PLC服务器IP--><!--
    <add key="4.0KepServerIP" value="10.4.5.150" />
    --><!-- 线体PLC服务器IP--><!--
    <add key="KepServerIP" value="10.4.5.154" />-->
    <!-- DbHelperOrcl-->
    <!-- 后处理串口号-->
    <add key="COM1" value="COM2" />
  </appSettings>
</configuration>